pre,code {
  background-color: #fdf6e3;
}

.highlight,
.highlighter-rouge .highlight {
  background-color: #fdf6e3;
  color: #586e75;
  .c   { color: #627272; }
  .err { color: #586e75;
         background-color: transparent;
       }
  .g   { color: #586e75; }
  .k   { color: #677600; }
  .l   { color: #586e75; }
  .n   { color: #586e75; }
  .o   { color: #677600; }
  .x   { color: #c14715; }
  .p   { color: #586e75; }
  .cm  { color: #627272; }
  .cp  { color: #677600; }
  .c1  { color: #627272; }
  .cs  { color: #677600; }
  .gd  { color: #217d74; }
  .ge  { color: #586e75;
         font-style: italic; }
  .gr  { color: #d72825; }
  .gh  { color: #c14715; }
  .gi  { color: #677600; }
  .go  { color: #586e75; }
  .gp  { color: #586e75; }
  .gs  { color: #586e75;
         font-weight: bold; }
  .gu  { color: #c14715; }
  .gt  { color: #586e75; }
  .kc  { color: #c14715; }
  .kd  { color: #1f76b6; }
  .kn  { color: #677600; }
  .kp  { color: #677600; }
  .kr  { color: #1f76b6; }
  .kt  { color: #d72825; }
  .ld  { color: #586e75; }
  .m   { color: #217d74; }
  .s   { color: #217d74; }
  .na  { color: #586e75; }
  .nb  { color: #8d6900; }
  .nc  { color: #1f76b6; }
  .no  { color: #c14715; }
  .nd  { color: #1f76b6; }
  .ni  { color: #c14715; }
  .ne  { color: #c14715; }
  .nf  { color: #1f76b6; }
  .nl  { color: #586e75; }
  .nn  { color: #586e75; }
  .nx  { color: #586e75; }
  .py  { color: #586e75; }
  .nt  { color: #1f76b6; }
  .nv  { color: #1f76b6; }
  .ow  { color: #677600; }
  .w   { color: #586e75; }
  .mf  { color: #217d74; }
  .mh  { color: #217d74; }
  .mi  { color: #217d74; }
  .mo  { color: #217d74; }
  .sb  { color: #627272; }
  .sc  { color: #217d74; }
  .sd  { color: #586e75; }
  .s2  { color: #217d74; }
  .se  { color: #c14715; }
  .sh  { color: #586e75; }
  .si  { color: #217d74; }
  .sx  { color: #217d74; }
  .sr  { color: #d72825; }
  .s1  { color: #217d74; }
  .ss  { color: #217d74; }
  .bp  { color: #1f76b6; }
  .vc  { color: #1f76b6; }
  .vg  { color: #1f76b6; }
  .vi  { color: #1f76b6; }
  .il  { color: #217d74; }
}
