.site-header > .wrapper {
  display: flex;

  > .site-title {
    margin: 0 auto 0 0;
    padding: 0px 38px 4px 7px;
    
    @media (min-width: $on-palm) {
      margin: 0 auto;
      padding-right: 7px;
    }
  }

  > .site-nav {
    margin: 0;
    @media (min-width: $on-palm) {
      margin: 0 $spacing-unit / 3;
    }
  }
}

.site-title {
  color: #88007b;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2)) hue-rotate(0);

  @supports (filter: url(#funkyoutlines)) {
    color: #FFB811;
    filter: url(#funkyoutlines);

    &:visited {
      color: #FFB811;
    }
  }
}

@keyframes slow-colour {
  from { filter: url(#funkyoutlines) drop-shadow(1px 1px 1px rgba(0,0,0,0.2)) hue-rotate(0); }
  to   { filter: url(#funkyoutlines) drop-shadow(1px 1px 1px rgba(0,0,0,0.2)) hue-rotate(1turn); }
}

.sidebar h2 {
  border-bottom: 1px solid $grey-color-light;
  text-align: right;
}
