@font-face {
  font-family: 'KaushanScriptRegular';
  src: url('/assets/fonts/KaushanScript-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LinuxBiolinum';
  src: url('/assets/LinuxBiolinumBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LinuxBiolinum';
  src: url('/assets/LinuxBiolinumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LinuxBiolinumKeyboard';
  src: url('/assets/fonts/LinuxBiolinumKeyboardRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LinuxBiolinum';
  src: url('/assets/fonts/LinuxBiolinumRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'LinuxLibertine';
        src: url('/assets/fonts/LinuxLibertineBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertine';
        src: url('/assets/fonts/LinuxLibertineBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'LinuxLibertineDisplay';
        src: url('/assets/fonts/LinuxLibertineDisplayRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertine';
        src: url('/assets/fonts/LinuxLibertineItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LinuxLibertineMono';
        src: url('/assets/fonts/LinuxLibertineMono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertine';
        src: url('/assets/fonts/LinuxLibertineRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
      }

* {
  font-size-adjust: 0.45;
}

.post-link { font-size: unset; }

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

.site-title {
  font-family: KaushanScriptRegular, $heading-font-family;
  font-size: 2.6rem;
}

main, .post-content {
  h1,.post-title { font-size: 2.2rem; }
  h2 { font-size: 1.75rem; }
  h3 { font-size: 1.6rem; }
  h4 { font-size: 1.4rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1.1rem; }
}

.sidebar {
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.1rem; }
}
